$black: #212121;
$white: #ffffff;

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  font-family: "Roboto", sans-serif;

  .navbar {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    padding: 0px 75px 0px 75px;
    transition: 0.8s;

    .brand {
      a {
        float: left;
        display: block;
        color: $white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
      }
    }

    .items {
      a {
        float: left;
        display: block;
        color: $white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      a:hover {
        font-weight: bold;
      }

      a.active {
        background-color: #04aa6d;
        color: white;
      }

      .icon {
        display: none;
      }
    }
  }

  .navbar.scrolled {
    height: 75px;
    background-color: $white;
    transition: 0.8s;

    a {
      color: $black;
    }
  }
}

@media screen and (max-width: 600px) {
  .nav {
    .navbar {
      padding: 0;

      .items {
        a {
          display: none;
        }

        a.icon {
          float: right;
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .nav {
    .navbar .items.responsive {
      position: relative;

      a {
        float: none;
        display: block;
        text-align: left;
      }

      a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}
